.App {
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  transition: 0.3s linear;
}
.App.light{
  background: rgb(255, 255, 255);
  color: #000;
  transition: 0.3s linear;
}
.App.dark{
  background: rgb(30, 0, 63);
  color: rgb(255, 255, 255);
  transition: 0.3s linear;
}
.container{
  margin: 20px;
  border: 1px solid rgb(240, 240, 240);
  padding: 20px 40px;
  border-radius: 15px;
  text-align: left;
  color: #000;
  transition: 0.3s linear;
  background: rgb(201, 168, 237);
}
.App.light .container{
  transition: 0.3s linear;
  background: rgb(255, 255, 255);
}
.Question{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 100px 0;

}
.answers-wrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.answer-item{
  border: 1px solid rgb(240, 240, 240);
  padding: 20px 40px;
  border-radius: 15px;
  text-align: left;
}
